extends ../layout

block append content
    div(class='content-wrapper')
        include ../includes/content_header.pug

        div(class='content')
            div(class='container-fluid')
                div(class='row')
                    div(class='col-8')
                        div(class='card card-secondary')
                            div(class='card-header')
                                h3(class='card-title') 통계
                                div(class='card-tools')
                                    button(type='button', class='btn btn-tool', data-card-widget='collapse', data-toggle='tooltip', title='Collapse')
                                        i(class='fas fa-minus')
                            div(class='card-body')
                                div(class='row')
                                    div(class='col-6')
                                        div(class='card')
                                            div(class='card-header d-flex')
                                                h3(class='card-title flex-grow-1') 매출
                                                button(type='button', class='btn btn-primary btn-xs', onclick="location.href='/calculate/list'") 자세히 보기
                                            div(class='card-body')
                                                table(class='table')
                                                    thead(class='bg-navy')
                                                        tr
                                                            th 정산차수
                                                            th 정산대상건수
                                                            th 정산지급액합계
                                                    tbody(class='bg-light')
                                                        each item,idx in stlmt_dash
                                                            tr
                                                                td #{item.stlmt_year}년 #{item.stlmt_month}월 #{item.stlmt_seq}차
                                                                td #{item.count}
                                                                td #{item.stlmt_pymt_cost}
                                    div(class='col-6')
                                        div(class='card')
                                            div(class='card-header d-flex')
                                                h3(class='card-title flex-grow-1') 환불
                                                button(type='button', class='btn btn-primary btn-xs', onclick="location.href='/cancel/complete'") 자세히 보기
                                            div(class='card-body')
                                                table(class='table')
                                                    thead(class='bg-navy')
                                                        tr
                                                            th 예약상태
                                                            th 취소건 수                                                            
                                                    tbody(class='bg-light')
                                                        tr
                                                            td 캠핑장직접환불
                                                            td #{resv_dash.refund}
                                                        tr
                                                            td 취소완료
                                                            td #{resv_dash.cancel}                                                        
                                    div(class='col-6')
                                        div(class='card')
                                            div(class='card-header d-flex')
                                                h3(class='card-title flex-grow-1') 예약
                                                button(type='button', class='btn btn-primary btn-xs', onclick="location.href='/reserve'") 자세히 보기
                                            div(class='card-body')
                                                table(class='table')
                                                    thead(class='bg-navy')
                                                        tr
                                                            th 예약상태
                                                            th 예약건 수                                                            
                                                    tbody(class='bg-light')
                                                        tr
                                                            td 결제완료
                                                            td #{resv_dash.payment}
                                                        tr
                                                            td 예약완료
                                                            td #{resv_dash.reserve_complete}
                                                        tr
                                                            td 입실준비
                                                            td #{resv_dash.ready}
                                                        tr
                                                            td 체크인
                                                            td #{resv_dash.check_in}
                                                        tr
                                                            td 체크아웃
                                                            td #{resv_dash.check_out}                                                        
                                    div(class='col-6')
                                        div(class='card')
                                            div(class='card-header d-flex')
                                                h3(class='card-title flex-grow-1') 조회
                                                button(type='button', class='btn btn-primary btn-xs') 자세히 보기
                                            div(class='card-body')
                                                table(class='table')
                                                    thead(class='bg-navy')
                                                        tr
                                                            th 예약상태
                                                            th 건 수                                                            
                                                    tbody(class='bg-light')
                                                        tr
                                                            td 캠핑장 홈 조회수
                                                            td 1,500
                                                        tr
                                                            td 캠핑장 스크랩수
                                                            td 200
                                                        tr
                                                            td 캠핑사이트(방) 스크랩수
                                                            td 300                                                        
                    
                    div(class='col-4')
                        div(class='row')
                            div(class='col-12')
                                div(class='card card-secondary')
                                    div(class='card-header')
                                        h3(class='card-title') 캠핑페이
                                        div(class='card-tools')
                                            button(type='button', class='btn btn-tool', data-card-widget='collapse', data-toggle='tooltip', title='Collapse')
                                                i(class='fas fa-minus')
                                    div(class='card-body')
                                        div(class='callout')
                                            p(class='text-helper') 보유하신 캠핑페이는 문자발송 및 광고 등에 사용됩니다.
                                        div(class='form-group input-group pt-3')
                                            input(type='text', class='form-control bg-light', readonly=true, value='0')
                                            div(class='input-group-append')
                                                span(class='input-group-text bg-success') P
                                        div(class='text-center pt-3')
                                            button(type='button' class='btn btn-primary') 충전하기
                            div(class='col-12')
                                div(class='card card-secondary')
                                    div(class='card-header')
                                        h3(class='card-title') 공지사항
                                        div(class='card-tools')
                                            button(type='button', class='btn btn-tool', data-card-widget='collapse', data-toggle='tooltip', title='Collapse')
                                                i(class='fas fa-minus')
                                    div(class='card-body')
                                        table(class='table')
                                            thead(class='bg-light')
                                                tr
                                                    th 번호
                                                    th 타이틀
                                            tbody
                                                tr
                                                    td 5
                                                    td 공지사항입니다.
                                                tr
                                                    td 4
                                                    td 공지사항입니다.
                                                tr
                                                    td 3
                                                    td 공지사항입니다.
                                                tr
                                                    td 2
                                                    td 공지사항입니다.
                                                tr
                                                    td 1
                                                    td 공지사항입니다.
